html {
  font-family: 'Inter';
  //overflow: hidden;

  background: #ffffff;
}

p {
  font-family: 'Inter';
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  width: auto;
  height: 120px;

  //background: #f2f2f2;
}

.headerElements {
  position: relative;
  height: 72px;
  top: calc(50% - 72px/2);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  /*
  position: absolute;
  width: 552px;
  height: 72px;
  left: calc(50% - 552px/2);
  top: calc(50% - 72px/2);
  */
}

.logo {

}

#logo_piechart {
  flex: none;
  order: 0;
  flex-grow: 0;
}

#logo_sliders {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 80px;
}

#logo_main {
  flex: none;
  order: 2;
  flex-grow: 0;
}

#logo_barchart {
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 80px;
}

#logo_stock {
  flex: none;
  order: 4;
  flex-grow: 0;
}

.container {
  width: auto;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0px 0px 56px;
}

.title {
  //position: static;
  width: 360px;
  height: 56px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 56px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  margin: 0 auto 8px;

  color: rgba(42, 49, 53, 0.9);
}

.subtitle {
  //position: static;
  width: 720px;
  height: 32px;
  //top: 64px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  //display: flex;
  //align-items: center;
  text-align: center;
  //justify-content: center;

  margin: 0 auto 0;

  color: #868C90;
}

.subtitle a {
  text-decoration: none;
  color: rgba(42, 49, 53, 0.9);
  cursor: pointer;
}

/* Content Cards Layout*/

.content {

}

.contentRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;

  margin-bottom: 56px;
}

.contentCard {
  position: static;
  width: 320px;
  height: 408px;

  background: none;
}

.contentCard:nth-child(2) {
  margin: 0px 56px 0px;
}

/* Article Cover and Info */

.articleCover {
  position: static;
  width: 320px;
  height: 240px;
  left: 0px;
  top: 0px;

  background: #F7F1E3;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px 16px;
}

.articleInfo {
  position: static;
  width: 320px;
  height: 152px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

p.a-category {
  position: static;
  width: 320px;
  height: 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: rgba(255, 111, 97, 1.0);

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px 8px;
}

p.a-title {
  position: static;
  width: 320px;
  height: 32px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  display: flex;
  align-items: center;

  color: rgba(42, 49, 53, 0.9);

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px 8px;
}

p.a-subtitle {
  position: static;
  width: 320px;
  height: 48px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;

  color: #868C90;

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 0px 8px;
}

p.a-date {
  position: static;
  width: 320px;
  height: 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #DCE0E2;

  flex: none;
  order: 3;
  flex-grow: 0;
}


/* Modal layout for mobile devices
(Big: 760px, Default: 540px) */
@media all and (max-width: 1080px) {
  html {
    //overflow: auto;
  }

  /* Header - Mobile Layout */
  header {
    width: auto;
    height: 80px;
  }

  #logo_piechart {
    width: 24px;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #logo_sliders {
    width: 24px;
    height: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 32px;
  }

  #logo_main {
    width: 48px;
    height: 48px;

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  #logo_barchart {
    width: 24px;
    height: 24px;

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 32px;
  }

  #logo_stock {
    width: 24px;
    height: 24px;

    flex: none;
    order: 4;
    flex-grow: 0;
  }

  /* Description - Mobile Layout */
  .title {
    width: 320px;
    height: 48px;

    font-size: 24px;
    line-height: 48px;
  }

  .subtitle {
    width: 320px;
    height: 48px;

    font-weight: normal;
    font-size: 17px;
    line-height: 24px;

    flex-direction: row;
  }

  /* Content Cards - Mobile Layout */
  .contentRow {
    flex-direction: column;
    align-items: center;
    //align-self: center;
  }

  .contentCard:nth-child(2) {
    margin: 56px 0px 56px;
  }
}
